################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdminCandidatos/bin/Debug/net8.0
/packages/MSTest.TestAdapter.2.2.10/build
/packages
