################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PruebaNetAdminCandidatos
/.vs
/AdminCandidatos/bin/Debug/net8.0
/packages
